table {
  width: 100px;
  height: 100px;
}
td {
  border: 1px solid black;
  text-align: center;
  padding: 50px;
  color: white;
  font-weight: bold;
}
td.cross {
  background: url(../resources/cross.png) no-repeat center center;
  background-size: 80% 80%;
}
td.zero {
  background: url(../resources/nol.png) no-repeat center center;
  background-size: cover;
}
.center {
  width: 300px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.promo {
  width: 600px;
  margin: 43px auto;
  text-align: center;
  opacity: 1.0;
  transition: opacity 0.4s linear;
}
.promo.true {
  opacity: 0;
}
.promo .btn {
  width: 150px;
  height: 70px;
}
.promo .btn:first-child {
  margin-right: 5px;
}
.promo .btns {
  margin-left: 5px;
}
.promo-ask {
  text-align: center;
  font-size: 22px;
}
.promo-exit {
  position: absolute;
  bottom: 115px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.promo-exit .btn {
  margin-right: 8px;
}
.alert {
  width: 387px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}
.jumbo-appear {
  opacity: 0.01;
}
.jumbo-appear.jumbo-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.menu1-appear {
  opacity: 0.01;
  right: 1000px;
}
.menu1-appear.menu1-appear-active {
  opacity: 1;
  right: 0px;
  transition: all .7s ease;
  transition-delay: 0.7s;
}
.menu2-appear {
  opacity: 0.01;
  right: 1000px;
}
.menu2-appear.menu2-appear-active {
  opacity: 1;
  right: 0px;
  transition: all .7s ease;
  transition-delay: 0.3s;
}
.menu3-appear {
  opacity: 0.01;
  right: 1000px;
}
.menu3-appear.menu3-appear-active {
  opacity: 1;
  right: 0px;
  transition: all .7s ease;
}
h1 {
  color: red;
}
.menu {
  position: relative;
}
.menu div {
  text-align: center;
  font-size: 22px;
}
.menu div:hover img {
  top: 5px;
}
.menu img {
  position: relative;
  top: 0px;
  transition: top 0.3s ease-out;
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 20px;
  margin-top: 10px;
  height: 200px;
}
